.navbackground {
  background-color: #fff;
  position: fixed;
  top: 0px;
  border-bottom: 2px solid #eee;
  overflow: hidden;
  width: 100%;
}

body {
  background-color: #fafafa;
  font-family: sans-serif;
}

.navbar {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.parent {
  margin-top: 5%;
  padding-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.main-feed {
  width: 640px;
}

.logo {
  margin-left: 10%;
  font-size: 24px;
  display: relative;

}

.logotext {
  position: absolute;
  top: 15px;
  z-index: 1;
}

.icons i, .bottomBar i {
  padding-right: 30px;
}

.search {
  z-index: 2;
}


.postHeader {
  display: flex;
  background-color: #fff;
  padding: 10px;
  border: solid 1px #eee;
}

.profile {
  display: flex;
  padding: 10px;
  height: 36px;
}

.sidebar {
  width: 250px;
}

.userImage {
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-right: 10px;
}

.userImage img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

.postBottom {
  background-color: #fff;
  padding: 10px;
  border: solid 1px #eee;
}

.bottomBar {
  display: flex;
  justify-content: space-between;
}

.storiesHeader {
  display: flex;
  justify-content: space-between;
}

.storyWrapper {
  height: 250px;
  overflow: scroll;
  overflow-x: hidden;
}

.storyProfiles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.storyProfiles .profile {
  padding: 5px;
}

.bookmark {
  align-self: flex-end;
}

h6 {
  padding: 0;
  margin: 0;
}

.elipses {
  float: right;
}

.dumblinks {
  margin-top: 10px;
  display: flex;
  font-size: 10px;
  justify-content: center;
}

.dumblinks a {
    color: #0f0f0f;
}

@media screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  /* .image {
    /* height: 100%;
    margin: 0 auto;
  } */
  .image img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
    margin: 20px auto;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    -webkit-transform: translate3d(0,0,0) scale(.8);
    transform: translate3d(0,0,0) scale(.8);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}

@media screen and (max-width: 470px) {
  .search {
    display: none;
  }
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.main-profile {
  margin-top: 10%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.profileWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileInfo {
  width: 60%;
}

.titleMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.profileLogo {
  padding-right: 80px;
}

.profileLogo img {
  border-radius: 50%;
  border: solid 1px #eee;
  width: 152px;
}

.bioLink a {
    color: #0f0f0f;
}

.titleMenu button {
  height: 30px;
  background-color: #4484FF;
  border-radius: 5px;
  color: white;
  padding-left: 24px;
  padding-right: 24px;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 42px;
}

.galleryImg {
  position: relative;
  width: 240px;
  height: 240px;
  overflow: hidden;
}

.overlay {
  margin: 10px;
  width: 240px;
  height: 240px;
  background-color: #000;
}

.galleryImg img {
  width: 100%;
  height: auto;
  display: block;
}

.galleryImg:hover img {
  opacity: 0.5;
}

.middle {
  opacity: 0;
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 22px;
}

.galleryImg:hover .middle {
  opacity: 1;
}

.bonusLikes {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding-top: 12px;
  padding-bottom: 12px;
  display: none;
}

.bLi {
  width: 33.3%;
  text-align: center;
}

.gRow {
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 762px) {
  .titleMenu {
    flex-wrap: wrap;
  }
  .galleryImg, .overlay {
    height: auto;
    width: 100%;
    max-width: 100%;
    max-height: auto;
    display: block;
    width: auto;
    height: auto;
  }
  .gRow {
    width: 100%;
    height: auto;
  }
  .gallery {
    width: 100%;
  }

}

@media screen and (max-width: 735px) {
  .bonusLikes {
    display: flex;
  }
  .stats {
    display: none;
  }
